doctype html
html
    head
        include components/common-includes.jade
        //roboto
        link(href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')

        //custom
        link(rel="stylesheet" href="/styles/projects.css")
        script(src="/js/projects.js")
        title List of projects

    body
        //top-nav-menu
        include components/navbar
        //list of projects header
        div#projects-list.container
            div.row
                div#list-header List of your projects

            #headers.row
                #date-header.col-xs-2 Last modified
                #title-header.col-xs-2 Project
                .col-xs-offset-6.col-xs-2
                    a#new-project.btn.btn-default(href="/new-project")
                        span.fa.fa-plus-circle
                        span#new-project-text &nbsp;New project

            //main content
            div.row.list
                each project in projects
                    div.project(onclick="showProject(this)").container-fluid
                        div.row
                            .col-xs-2.last-modified #{project.lastMod}
                            .col-xs-10.project-title #{project.title}
                        div.description.container-fluid
                            //description is hidden by default. Show when click prev block
                            div.row.info
                                div.col-xs-3.col-xs-offset-2.stat
                                    |tasks:&nbsp;
                                    span.tasksAmount #{project.tasks}
                                    |/
                                    span.completedTasksAmount #{project.completed}
                                div.col-xs-3.stat time spent: #{project.timeSpent}
                                div.col-xs-3.stat members: #{project.members}
                                div.col-xs-1.btn.btn-default
                                    i.fa.fa-group &nbsp;Share
