.panel.panel-default.opened-tasks-panel
    .panel-heading
        a.accordion-toggle(data-toggle="collapse" data-target="#collapseOpened" href="#")
            .panel-title
                span Tasks in progress
                .create-task.btn(type="button")
                    i.fa.fa-plus
                    |&nbsp;New Task
    #collapseOpened.panel-collapse.collapse.in
        ul.list-group#current-tasks
            li.list-group-item.task-list-header.clearfix
                .col-xs-1.priority-col(onclick='sortBy(".priority-col","#current-tasks")') Priority
                .col-xs-8.taskTitle-col(onclick='sortBy(".taskTitle-col","#current-tasks")') Task
                .col-xs-2.timeSpent-col(onclick='sortBy(".timeSpent-col","#current-tasks")') Time
                .col-xs-1 Close
            if tasks.current
                    //-tasks iteration
                    each task in tasks.current
                        li.list-group-item.task-current.clearfix(data-ouid='#{task._id}')
                            .col-xs-1.priority-col #{task.priority}
                            .col-xs-8.editable.taskTitle-col(onclick="showTaskEditModal(this)") #{task.title}
                            .col-xs-2.editable.timeSpent-col(onclick="showTimeSpentModal(this)")
                                if task.timeSpent
                                    |#{task.timeSpent}
                                else
                                    |none
                            .col-xs-1.state-change-col
                                i.btn.fa.fa-check(onclick="setTaskCompleted(this, true)")
            else
                .no-tasks No active tasks.
.panel.panel-default.closed-tasks-panel
    .panel-heading
        a.accordion-toggle(data-toggle="collapse" data-target="#collapseClosed" href="#")
            .panel-title
                span Finished tasks
    #collapseClosed.panel-collapse.collapse.in
        ul.list-group#finished-tasks
            li.list-group-item.task-list-header.clearfix
                .col-xs-1.priority-col(onclick='sortBy(".priority-col","#finished-tasks")') Priority
                .col-xs-8.taskTitle-col(onclick='sortBy(".taskTitle-col","#finished-tasks")') Task
                .col-xs-2.timeSpent-col(onclick='sortBy(".timeSpent-col","#finished-tasks")') Time
                .col-xs-1 Reopen
            if tasks.finished
                each task in tasks.finished
                    li.list-group-item.task-finished.clearfix(data-ouid='#{task._id}')
                        .col-xs-1.priority-col #{task.priority}
                        .col-xs-8.editable.taskTitle-col(onclick="showTaskEditModal(this)") #{task.title}
                        .col-xs-2.editable.timeSpent-col(onclick="showTimeSpentModal(this)")
                            if task.timeSpent
                                |#{task.timeSpent}
                            else
                                | none
                        .col-xs-1.state-change-col
                            i.fa.fa-undo.btn(onclick="setTaskCompleted(this, false)")
            else
                .no-tasks No tasks finished yet.